<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ribot is a simple robotic system containing one rgb camera and an imu on top of a tripop.  -->

    <!-- Define  properties -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <material name="Orange">
        <color rgba="1.0 0.4 0.0 1.0" />
    </material>

    <!-- Colors -->
    <material name="tripod_color">
        <color rgba="0.21 0.21 .21 1" />
    </material>


    <!-- Includes -->
    <xacro:include filename="$(find ribot_description)/urdf/robot.gazebo.xacro" />
    <xacro:include filename="$(find ribot_description)/urdf/rgb_camera.urdf.xacro" />
    <xacro:include filename="$(find ribot_description)/urdf/imu.urdf.xacro"/>

    <!-- Left IMU -->
    <xacro:imu parent="left_support" prefix="imu" color_gazebo="Red">
        <origin xyz="0.015 0 0.02" rpy="0 0 0" />          
        <color_rgb_rviz>
            <material name="red">
                <color rgba="0.9 0 0 1" />
            </material>
        </color_rgb_rviz>
    </xacro:imu>

    <!-- Right Camera -->
    <xacro:rgb_camera parent="right_support" prefix="rgb_right" color_gazebo="Green">
        <origin xyz="0.015 0 0.012" rpy="0 0 0" />
        <color_rgb_rviz>
            <material name="green">
                <color rgba="0 0.9 0 1" />
            </material>
        </color_rgb_rviz>
    </xacro:rgb_camera>

    <link name="plate">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.04 0.4 0.015" />
            </geometry>
            <material name="tripod_color" />
        </visual>
        <collision name="tripod_collision">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.04 0.15 0.015" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
    </link>

    <!-- Tripod left support-->
    <link name="left_support" />

    <!-- tripod plate to tripod left support -->
    <joint name="plate_to_left_support" type="fixed">
        <parent link="plate" />
        <child link="left_support" />
        <origin xyz="0 0.18 0.0075" rpy="0 0 0" />
    </joint>

    <!-- Tripod right support-->
    <link name="right_support" />

    <!-- tripod plate to tripod right support -->
    <joint name="plate_to_right_support" type="fixed">
        <parent link="plate" />
        <child link="right_support" />
        <origin xyz="0 -0.18 0.0075" rpy="0 0 0" />
    </joint>

</robot>