<?xml version="1.0"?>
<robot name="ribot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ribot is a simple robotic system containing one rgb camera and an imu on top of a tripop.  -->

    <!-- Define  properties -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <material name="Orange">
        <color rgba="1.0 0.4 0.0 1.0"/>
    </material>

    <!-- Colors -->
    <material name="tripod_color">
        <color rgba="0.21 0.21 .21 1"/>
    </material>

    <xacro:macro name="default_inertial">
        <inertial>
            <mass value="1"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>
    </xacro:macro>

    <!-- Includes -->
    <xacro:include filename="$(find ribot_description)/urdf/robot.gazebo.xacro" />
    <xacro:include filename="$(find ribot_description)/urdf/rgb_camera.urdf.xacro" />
    <xacro:include filename="$(find ribot_description)/urdf/imu.urdf.xacro"/>

    <!-- World link -->
    <!-- <link name="world"/> -->

    <link name="base_link">
    </link>

    <joint name="base_link_to_plate" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="plate"/>
    </joint>


    <link name="plate">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.04 0.4 0.015" />
            </geometry>
            <material name="tripod_color" />
        </visual>
        <collision name="tripod_collision">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.04 0.15 0.015" />
            </geometry>
        </collision>
        <xacro:default_inertial />
        <gazebo>
            <gravity>0</gravity>
        </gazebo>

    </link>

    <!-- <link name="imu">
    </link> -->

    <!-- <joint name="plate_to_imu" type="fixed">
      <origin xyz="0 0.1 -0.305" rpy="0 0 0"/>
      <parent link="plate"/>
      <child link="imu"/>
    </joint> -->

    <!-- SENSORS -->
    <!-- Left IMU -->
    <xacro:imu parent="plate" prefix="imu" color_gazebo="Red">
        <origin xyz="0.0 0.18 0.01" rpy="0 0 0" />          
        <color_rgb_rviz>
            <material name="red">
                <color rgba="0.9 0 0 1" />
            </material>
        </color_rgb_rviz>
    </xacro:imu>

    <!-- Right Camera -->
    <xacro:rgb_camera parent="plate" prefix="rgb_right" color_gazebo="Green">
        <origin xyz="0.015 -0.18 0.0195" rpy="0 0 0" />
        <color_rgb_rviz>
            <material name="green">
                <color rgba="0 0.9 0 1" />
            </material>
        </color_rgb_rviz>
    </xacro:rgb_camera>

</robot>