<launch>

    <param name ="/use_sim_time" value="true"/>

    <!--Load robot xacro into robot_description ros parameter.-->
    <include file="$(find ribot_description)/launch/upload.launch"/>

    <!--Load robot xacro into robot_description ros parameter.-->
    <include file="$(find ribot_gazebo)/launch/spawn.launch"/>

    <include file="$(find ribot_bringup)/launch/visualize.launch"/>

    <node name="interactive_pattern" pkg="atom_worlds" type="interactive_pattern" output="screen" />
    <node name="odom_to_tf" pkg="ribot_bringup" type="odom_to_tf_msg" />

</launch>